---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "pygments";

// navbar
$navbar-skip: 70px;
body {
  padding-top: $navbar-skip;
}

// so that anchors work correctly
// http://stackoverflow.com/a/9618795
.target:before {
  content: "";
  display: block;
  height: $navbar-skip;
  margin: -$navbar-skip 0 0;
}

.post-time {
  display: block;
  margin-top: -.3rem;
  color: #9a9a9a;
}

.post-header {
  margin-bottom: 2rem;
}

// unstyled links
.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}
.link-unstyled:hover {
  color: inherit;
}
