{{ $ := .root }}
{{ $page := .page }}
{{ $posts_len := len (where (where $.Site.RegularPages "Type" "post") ".Params.notonhomepage" nil) }}

<!-- Blog Posts widget -->
<div class="row">
  <div class="col-12 col-md-2">
    <h2><a href="{{ "/post/" | relLangURL }}">{{ with $page.Title }}{{ . | markdownify }}{{ end }}</a></h2>
    {{ with $page.Params.subtitle }}<h3>{{ . | markdownify }}</h3>{{ end }}
  </div>
  <div class="col-12 col-md-10">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    {{ $posts := where (where $.Site.RegularPages "Type" "post") ".Params.notonhomepage" nil }}

    {{ range $post := first $page.Params.count $posts }}
    {{ partial "post_li" . }}
    {{end}}

    {{ if gt $posts_len $page.Params.count }}
    <h6 class="mt-2 mb-0"><a href="{{ "/post/" | relLangURL }}">… {{ i18n "more_posts" }} »</a></h6>
    {{ end }}
  </div>
</div>
