{{ $ := .root }}
{{ $page := .page }}
{{ $pubs_len := len (where $.Site.RegularPages "Type" "research") }}

<!-- Publications widget -->
<div class="row">
  <div class="col-12 col-md-2">
    <h2>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h2>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    <p>
      <a href="{{ "/research/" | relLangURL }}">{{ i18n "more_publications" | markdownify }} »</a>
      {{ with $.Site.Params.arxiv_id }}
      <br><a href="https://arxiv.org/a/{{ . }}.html">arXiv »</a>
      {{ end }}
    </p>
  </div>
  <div class="col-12 col-md-10">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    {{ if and ($page.Params.research_type) (ne $page.Params.research_type "-1") }}
      {{ $.Scratch.Set "recent_pubs" (where (where $.Site.RegularPages "Type" "research") ".Params.research_types" "intersect" (slice $page.Params.research_type)) }}
    {{ else }}
      {{ $.Scratch.Set "recent_pubs" (where $.Site.RegularPages "Type" "research") }}
    {{ end }}

    {{ if $page.Params.exclude_selected }}
      {{ $.Scratch.Set "recent_pubs" ( ($.Scratch.Get "recent_pubs") | intersect (where (where $.Site.RegularPages "Type" "research") ".Params.selected" "!=" true) ) }}
    {{ end }}

    {{ $recent_pubs := $.Scratch.Get "recent_pubs" }}
    {{ range first $page.Params.count $recent_pubs }}
      {{ partial "publication_li" .}}
    {{ end }}

  </div>
</div>
