{{ $ := .root }}
{{ $page := .page }}
{{ $talks_len := len (where $.Site.RegularPages "Type" "talk") }}

<!-- Talks widget -->
<div class="row">
  <div class="col-12 col-md-3 section-heading">
    <h2>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h2>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    {{ if gt $talks_len $page.Params.count }}
    <p class="view-all">
      <a href="{{ "/talk/" | relLangURL }}">
        {{ i18n "more_talks" | markdownify }}
        <i class="fa fa-angle-double-right"></i>
      </a>
    </p>
    {{ end }}
  </div>
  <div class="col-12 col-md-9">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    {{ range first $page.Params.count (where $.Site.RegularPages "Type" "talk") }}
      {{ partial "talk_li" . }}
    {{ end }}
  </div>
</div>
