{{ $ := .root }}
{{ $page := .page }}
{{ $talks_len := len (where $.Site.RegularPages "Type" "talk") }}

<!-- Talks widget -->
<div class="row">
  <div class="col-12 col-md-2">
    <h2>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h2>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    <p><a href="{{ "/talk/" | relLangURL }}">{{ i18n "more_talks" | markdownify }} »</a></p>
  </div>
  <div class="col-12 col-md-10">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    {{ range first $page.Params.count (where $.Site.RegularPages "Type" "talk") }}
      {{ partial "talk_li" . }}
    {{ end }}
  </div>
</div>
