{{ $ := .root }}
{{ $page := .page }}
{{ $talks_len := len (where $.Site.RegularPages "Type" "talk") }}

<!-- Talks widget -->
<div class="row">
  <div class="col-12 col-md-2">
    <h2><a href="{{ "/talk/" | relLangURL }}">{{ with $page.Title }}{{ . | markdownify }}{{ end }}</a></h2>
    {{ with $page.Params.subtitle }}<h3>{{ . | markdownify }}</h3>{{ end }}
  </div>
  <div class="col-12 col-md-10">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    {{ range first $page.Params.count (where $.Site.RegularPages "Type" "talk") }}
    {{ .Render "card" }}
    {{ end }}

    {{ if gt $talks_len $page.Params.count }}
    <h6 class="mt-2 mb-0"><a href="{{ "/talk/" | relLangURL }}">…{{ i18n "more_talks" }} »</a></h6>
    {{ end }}
  </div>
</div>
