---
layout: default
---
<div class="row">
    <section class="col-md-9">
        {% for post in paginator.posts %}
            <article>
                <header class="post-header">
                    <h1 id="{{ post.id | slugify }}">
                        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h1>
                    {% include post-meta.html post=post link=1 %}
                </header>
                {{ post.excerpt }}
                <p><a href="{{ post.url | prepend: site.baseurl }}"><i>[Read more…]</i></a></p>
            </article>
            <hr>
        {% endfor %}
        <nav>
            <ul class="pager">
                <li class="previous {% unless paginator.previous_page %}disabled{% endunless %}">
                    <a {% if paginator.previous_page %}href="{{ paginator.previous_page_path }}"{% endif %}>
                        <i aria-hidden="true" class="fa fa-chevron-circle-left"></i> Previous page
                    </a>
                </li>
                <li>Page {{ paginator.page }} of {{ paginator.total_pages }}</li>
                <li class="next {% unless paginator.next_page %}disabled{% endunless %}">
                    <a {% if paginator.next_page %}href="{{ paginator.next_page_path }}"{% endif %}>
                        Next page <i aria-hidden="true" class="fa fa-chevron-circle-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    {% include sidebar.html width="3" %}
</div>
