<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {% if page.url == "/index.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/">Blog</a></li>
                    {% for node in site.pages %}
                        {% if node.title %}
                            <li {% if page.url == node.url %} class="active" {% endif %}><a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li><a rel="me" href="https://github.com/nidrissi"><span class="fa fa-github"></span> GitHub</a></li>
                    <li><a rel="me" href="http://math.univ-lille1.fr/~idrissi"><span class="fa fa-university"></span> Math</a></li>
                    <li><a href="{{ 'feed.xml' | prepend: site.baseurl }}"><i class="fa fa-feed"></i> RSS</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
