<div class="post-meta">
    <ul class="list-inline">
        {% if include.title %}
            <li class="lead">
                <a href="{{ include.post.url | prepend: site.baseurl }}">
                    {{ include.post.title }}
                </a>
            </li>
        {% endif %}
        <li>
            {% if include.link %}<a href="{{ include.post.url | prepend: site.baseurl }}" class="link-unstyled">{% endif %}
                <i class="fa fa-clock-o"></i> {% include date.html date=include.post.date %}
                {% if include.link %}</a>{% endif %}
        </li>
        <li>
            <i class="fa fa-comment"></i>
            <a href="{% if include.link %}{{ include.post.url | prepend: site.baseurl }}{% endif %}#isso-thread">Comments</a>
        </li>
        <li>
            <i class="fa fa-user"></i>
            {% if post.author %}{{ post.author }}{% else %}{{ site.author }}{% endif %}
        </li>
        <li>
            <i class="fa fa-tags"></i>
            Tags:
            {% for tag in include.post.tags %}
                <a href="{{ "/tag" | prepend: site.baseurl }}/{{ tag }}">{{ tag }}</a>
                {% unless forloop.last %}|{% endunless %}
            {% endfor %}
        </li>
        {% unless include.link %}
            <li>
                <a role="button" data-toggle="collapse"  href="#share" aria-expanded="false" aria-controls="share">
                    <i class="fa fa-share-alt"></i>
                    Share
                </a>
            </li>
        {% endunless %}
    </ul>
    {% unless include.link %}{% include share.html %}{% endunless %}
</div>
