<div class="post-meta">
    <ul class="list-inline">
        {% if include.title %}
            <li class="lead">
                <a href="{{ include.post.url | prepend: site.baseurl }}">
                    {{ include.post.title }}
                </a>
            </li>
        {% endif %}
        <li>
            {% if include.link %}<a href="{{ include.post.url | prepend: site.baseurl }}" class="link-unstyled">{% endif %}
                <i class="fa fa-clock-o"></i> {% include date.html date=include.post.date %}
                {% if include.link %}</a>{% endif %}
        </li>
        <li>
            <a href="{% if include.link %}{{ include.post.url | prepend: site.baseurl }}{% endif %}#isso-thread">
                <i class="fa fa-comment"></i> Comments
            </a>
        </li>
        <li>
            <i class="fa fa-user"></i>
            {% if post.author %}{{ post.author }}{% else %}{{ site.author }}{% endif %}
        </li>
        <li>
            <i class="fa fa-tags"></i>
            Tags:
            {% for tag in include.post.tags %}
                <a href="{{ "/tag" | prepend: site.baseurl }}/{{ tag }}">{{ tag }}</a>
                {% unless forloop.last %}&ndash;{% endunless %}
            {% endfor %}
        </li>
    </ul>
</div>
