{% capture tmpurl %}{{ site.url | uri_escape }}{{ site.baseurl | uri_escape }}{{ page.url | uri_escape }}{% endcapture %}
{% capture tmptitle %}{{ page.title | uri_escape }}{% endcapture %}
<div class="collapse" id="share">
    <ul class="list-inline">
        <li>Share this post:</li>
        <li><a href="https://plus.google.com/share?url={{ tmpurl }}" target="_blank"><span aria-hidden="true" class="fa fa-google-plus"></span> Google+</a></li>
        <li><a href="http://www.facebook.com/sharer.php?u={{ tmpurl }}&p[title]={{ tmptitle }}" target="_blank"> <span aria-hidden="true" class="fa fa-facebook"></span> Facebook</a></li>
        <li><a href="http://twitter.com/share?text={{ tmptitle }}&url={{ tmpurl }}" target="_blank"><span aria-hidden="true" class="fa fa-twitter"></span> Twitter</a></li>
        <li><a href="http://www.tumblr.com/share/link?url={{ tmpurl }}&name={{ tmptitle }}" target="_blank"><span aria-hidden="true" class="fa fa-tumblr"> Tumblr</span></a></li>
        <li><a href="http://www.reddit.com/submit?url={{ tmpurl }}&title={{ tmptitle }}" target="_blank"><span aria-hidden="true" class="fa fa-reddit"></span> Reddit</a></li>
    </ul>
</div>
