<div class="post-time">
    {% if include.link %}<a href="{{ include.post.url | prepend: site.baseurl }}" class="link-unstyled">{% endif %}
        <i class="fa fa-clock-o"></i>
        <time datetime="{{ include.post.date | date: "%Y-%m-%d" }}">{{ include.post.date | date: "%b %-d, %Y" }}</time>
    {% if include.link %}</a>{% endif %}
    |
    <a href="{% if include.link %}{{ include.post.url | prepend: site.baseurl }}{% endif %}#comments">
        <i class="fa fa-comment"></i>
        <span class="disqus-comment-count" data-disqus-identifier="{{ include.post.id | slugify }}">Comments</span>
    </a>
    |
    Tags:
    {% for tag in include.post.tags %}{{ tag }}{% unless forloop.last %}; {% endunless %}{% endfor %}
</div>
