<span class="me-2">
    {{- i18n "published_on" }}
    <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ .Date.Format .Site.Params.date_format -}}</time>.
</span>
{{- if ne .Lastmod .Date }}
<span class="me-2">
    {{- i18n "last_updated" }}
    <time datetime="{{ dateFormat "2006-01-02" .Lastmod }}">{{- .Lastmod.Format .Site.Params.date_format -}}</time>.
</span>
{{- end }}
{{- range .Params.tags -}}
{{- partial "badge" (dict "url" (printf "%s/%s" (relLangURL "tags") (lower (urlize .))) "icon" "hash" "label" .) -}}
{{- end -}}
{{- partial "links" . -}}
