<article class="card border-light">
  <div class="card-body px-3 py-2">
    <h3 class="card-title mb-1 fs-5">
      {{- .Params.event | markdownify -}}
      <small> &ndash; {{ partial "meta/talk" . }}. </small>
    </h3>

    {{- with .Params.eventURL -}}<a class="card-link" href="{{ . }}"
      ><i class="bi bi-calendar-event"></i>&nbsp;{{ i18n "event" }}</a
    >{{- end -}} {{- if (or .Params.Title .Params.Abstract) }}
    <a
      class="card-link dropdown-toggle"
      data-bs-toggle="collapse"
      href="#talk-{{ .File.UniqueID }}"
      role="button"
      aria-expanded="false"
      aria-controls="talk-{{ .File.UniqueID }}"
      >{{ i18n "title" }} &amp; {{ i18n "abstract" }}</a
    >
    {{- end -}} {{- partial "links" (dict "content" . "is_card" 1) -}}

    <p id="talk-{{ .File.UniqueID }}" class="collapse card-text">
      {{- with .Params.Title -}}<strong>{{ . | markdownify }}</strong><br />{{-
      end -}} {{- with .Params.Abstract -}}{{- i18n "abstract" -}}: {{ . |
      markdownify -}}{{- end -}}
    </p>
  </div>
</article>
