<article>
  <h3 class="mb-0 fs-5">{{- .Params.event | markdownify -}}</h3>
  <p class="mb-0 text-muted d-inline-block align-middle">{{ partial "meta/talk" . }}.</p>
  <p>
    <!-- eventURL -->
    {{- with .Params.eventURL -}} {{- partial "badge" (dict "url" . "icon"
    "calendar-event" "label" (i18n "event")) -}} {{- end -}}
    <!-- title/abstract -->
    {{- if (or .Params.Title .Params.Abstract) }} {{ partial "badge" (dict "url"
    (printf "#talk-%s" .File.UniqueID) "icon" "caret-down" "label" (printf `%s &
    %s` (i18n "title") (i18n "abstract")) "extraAttributes" (printf
    `data-bs-toggle="collapse" href="#talk-%s" role="button"
    aria-expanded="false" aria-controls="talk-%s"` .File.UniqueID
    .File.UniqueID)) }} {{- end -}}
    <!-- links -->
    {{- partial "links" . -}}
  </p>
  <div class="collapse" id="talk-{{ .File.UniqueID }}">
    <p class="border rounded p-1">
      {{- with .Params.Title -}}<strong>{{ . | markdownify }}</strong><br />{{-
      end -}} {{- with .Params.Abstract -}}{{- i18n "abstract" -}}: {{ . -}}{{-
      end -}}
    </p>
  </div>
</article>
