{{- define "main" -}}
<article>
  <h1 class="mb-0">
    {{- with .Params.eventURL -}}<a class="card-link" href="{{ . }}">{{- end -}}
    {{- .Params.event | markdownify -}}
    {{- if .Params.eventURL }}<i class="fas fa-external-link-alt"></i>{{- end -}}
  </h1>

  <p class="lead">{{- partial "meta/talk" . }} {{ partial "links" (dict "content" . "is_card" 0) -}}</p>

  {{- with .Title -}}<p><strong>{{- markdownify . -}}</strong></p>{{- end -}}

  {{- with .Params.abstract }}<p>{{ markdownify . }}</p>{{- end -}}

  {{- with .Content -}}<hr><div>{{- . -}}</div>{{- end -}}
</article>

{{- partial "breadcrumbs" . -}}
{{- end -}}
