<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{- partial "header" . -}}
  <body>
    {{- partial "navbar" . -}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 py-3" id="main-container">
          {{- partial "draft" . -}}

          <section>{{- block "main" . -}}{{- end -}}</section>
          <hr />
          <footer class="text-muted text-center">
            {{- .Site.Author.name }} &bull; {{ delimit .Site.Author.organizations " & " | markdownify }} &bull; <a href="mailto:{{ .Site.Author.email }}">{{ .Site.Author.email }}</a>
          </footer>
        </div>

        {{- if or .Params.toc .Params.sidebar -}}
        <aside class="col">{{- partial "sidebar" . -}}</aside>
        {{- end -}}
      </div>
    </div>
  </body>
</html>
