{{ if .Params.widgets }}
{{ partial "widget_page.html" . }}
{{ else }}
{{ partial "header.html" . }}
{{ partial "header_image.html" . }}
<div class="container">
  {{ with .Title }}<h1>{{ . }}</h1>{{ end }}

  {{ with .Content }}
  <div itemprop="articleBody">{{ . }}</div>
  {{ end }}

  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
  <div>
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <div>
      {{ if .Params.summary }}
      {{ printf "%s" .Params.summary | markdownify }}
      {{ else if .Truncated }}
      {{ printf "%s" .Summary | markdownify }}
      {{ end }}
    </div>
  </div>
  {{ end }}

  {{ partial "pagination" . }}
</div>
{{ partial "footer.html" . }}
{{ end }}
