body {
    background-color: rgb(245,245,245) !important;
    padding-top: 3.5rem;
}

:target::before {
  content: "";
  display: block;
  height: 3.5rem; /* fixed header height*/
  margin: -3.5rem 0 0; /* negative fixed header height */
}

#main-container {
    background-color: white;
}

#TableOfContents ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

#TableOfContents ul li {
    margin-bottom: 0;
    padding-left: .5rem;
    list-style-type: none;
}
