body {
  background-color: rgb(245, 245, 245) !important;
}

#main-container {
  background-color: white;
}

#TableOfContents ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

#TableOfContents ul li {
  margin-bottom: 0;
  padding-left: 0.5rem;
  list-style-type: none;
}

#cookie-toast {
  position: absolute;
  top: 70px;
  right: 0;
}

.navbar {
  background-color: rgb(0, 88, 88);
}

.navbar-nav > .nav-item > .nav-link {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-nav > .nav-item > .nav-link.active {
  font-weight: bold;
}
