{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="universal-wrapper">

    {{ with .Title }}<h1>{{ . }}</h1>{{ end }}

    {{ with .Content }}
    <div class="article-style" itemprop="articleBody">{{ . }}</div>
    {{ end }}

    <ul>
        {{ $paginator := .Paginate .Data.Pages }}
        {{ range $paginator.Pages }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul>

    {{ partial "pagination" . }}

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
