<div class="mb-2">
    <span class="text-muted">
        {{ if ne .Params.Lastmod .Params.Date }}
        {{ i18n "last_updated" }}
        {{ end }}
        <time datetime="{{ dateFormat "2006-01-02" .Date }}" itemprop="datePublished">
            {{ .Lastmod.Format .Site.Params.date_format }}
        </time>
    </span>

    {{ if isset .Params "categories" }}
    {{ $categoriesLen := len .Params.categories }}
    {{ if gt $categoriesLen 0 }}
    &ndash;
    <span class="text-muted">
        <i class="fa fa-folder"></i>
        {{ range $k, $v := .Params.categories }}
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize | lower }}">{{ . }}</a>{{ if lt $k (sub $categoriesLen 1) }}, {{ end }}
        {{ end }}
    </span>
    {{ end }}
    {{ end }}

    {{ partial "tags.html" $ }}
</div>
