</div><!-- container -->
{{ range .Site.Params.css }}
<link rel="stylesheet" href="/css/{{ . }}">
{{ end }}
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
</script>
<script async src="/mathjax/MathJax.js?config=TeX-AMS_CHTML"></script>
{{ range .Site.Params.js }}
<script src="/js/{{ . }}"></script>
{{ end }}
<noscript><p><img src="//stats.erad.fr/piwik.php?idsite=1&rec=1" style="border:0;" alt="" /></p></noscript>
</body>
</html>
