<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta
    http-equiv="Content-Security-Policy"
    content="default-src 'self'; style-src 'self' 'unsafe-inline' use.fontawesome.com github.githubassets.com; script-src 'self' 'unsafe-eval' www.googletagmanager.com cdn.jsdelivr.net gist.github.com; img-src 'self' data: www.googletagmanager.com math.stackexchange.com mathoverflow.net; connect-src 'self' analytics.google.com stats.g.doubleclick.net; font-src 'self' cdn.jsdelivr.net; frame-src 'self' www.youtube.com;"
  />

  <link rel="canonical" href="{{ .Permalink }}" />
  {{- range .Translations -}}
  <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
  {{- end -}}
  <link
    rel="alternate"
    hreflang="{{ .Site.LanguageCode }}"
    href="{{ .Permalink }}"
  />
  {{- range .AlternativeOutputFormats -}} {{- printf `
  <link rel="%s" type="%s" href="%s" title="%s" />
  ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML -}} {{- end -}}
  <!-- css -->
  {{- $css := slice (resources.Get "css/bootstrap.min.css") (resources.Get
  "css/svg-with-js.css") (resources.Get "css/style.css") | resources.Concat
  (printf "bundle-%d.css" now.Unix) | resources.Minify -}}
  <link rel="stylesheet" href="{{ $css.Permalink }}" />

  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-S549JC61XZ"
  ></script>

  {{- $js := slice (resources.Get "js/jquery.slim.js") (resources.Get
  "js/popper.min.js") (resources.Get "js/bootstrap.min.js") (resources.Get
  "js/mathjax-conf.js") (resources.Get "js/ga.js") (resources.Get "js/toc.js") |
  resources.Concat (printf "bundle-%d.js" now.Unix) | resources.Minify -}}
  <script src="{{ $js.Permalink }}"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/mathjax@3.1.2/es5/tex-chtml.js"
    integrity="sha384-UozJ99uTsC3hGw/ZyfGWyZhGT2HagM/UTaJSjYDDwJkJAV7YGoW0bHz7DI5XCN6X"
    crossorigin="anonymous"
  ></script>

  <link rel="icon" type="image/png" href="/img/icon.png" />
  <link rel="apple-touch-icon" type="image/png" href="/img/icon-192.png" />

  <title>
    {{- if .IsHome -}} {{- .Site.Title -}} {{- else -}} {{- .Title }} {{- with
    .Params.event }} @ {{ . }}{{- end -}} {{- end -}}
  </title>
  {{ with .Site.Author.name }}
  <meta name="author" content="{{ . }}" />
  {{ end }}
  <meta
    name="description"
    content="{{- with .Params.abstract -}}{{- . -}}{{- else -}}{{- .Summary -}}{{- end -}}"
  />
</head>
