<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}

    {{ range .Translations }}
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}">
    {{ end }}
    <link rel="alternate" hreflang="{{ .Site.LanguageCode | default "en-us" }}" href="{{ .Permalink }}">

    {{ range .Site.Params.css }}
    <link rel="stylesheet" href="/css/{{ . }}">
    {{ end }}

    {{ range .Site.Params.js }}
    <script defer src="/js/{{ . }}"></script>
    {{ end }}

    <script type="text/x-mathjax-config">
     MathJax.Hub.Config({
       tex2jax: {
         inlineMath: [ ['$','$'], ["\\(","\\)"] ],
         displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
         processEscapes: true
       },
       CommonHTML: { linebreaks: { automatic: true } },
       "HTML-CSS": { linebreaks: { automatic: true } },
       SVG: { linebreaks: { automatic: true } }
     });
    </script>
    <script async src="/mathjax/MathJax.js?config=TeX-MML-AM_CHTML"></script>


    <link rel="manifest" href="{{ "site.webmanifest" | relURL }}">
    <link rel="icon" type="image/png" href="{{ "/img/icon.png" | relURL }}">
    <link rel="apple-touch-icon" type="image/png" href="{{ "/img/icon-192.png" | relURL }}">

    <link rel="canonical" href="{{ .Permalink }}">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:title" content="{{ if not .IsHome }}{{ .Title }}{{ with .Params.event }} @ {{ . }}{{ end }} | {{ end }}{{ .Site.Title }}">
    <meta property="og:description" content="{{- if .IsPage -}}
                    {{- if or .Type "publication" .Type "talk" -}}
          {{- with .Params.abstract -}}{{- . -}}{{- end -}}
          {{- else -}}
          {{- .Summary -}}
          {{- end -}}
          {{- else -}}
          {{- with .Site.Params.role -}}{{- . -}}{{- end -}}
          {{- end -}}">
    {{- with .Params.header.image }}<meta property="og:image" content="{{ printf "/img/%s" . | absURL }}">{{end}}
    <meta property="og:locale" content="{{ .Site.LanguageCode | default "en-us" }}">
    {{ if .IsPage }}
    {{ if not .PublishDate.IsZero }}<meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}">
    {{ else if not .Date.IsZero }}<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}">{{ end }}
    {{ if not .Lastmod.IsZero }}<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" | safeHTML }}">{{ end }}
    {{ else }}
    {{ if not .Date.IsZero }}<meta property="og:updated_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}">{{ end }}
    {{ end }}

    <title>{{ if not .IsHome }}{{ .Title }}{{ with .Params.event }} @ {{ . }}{{ end }} | {{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{- if .IsPage -}}
                    {{- if or .Type "publication" .Type "talk" -}}
          {{- with .Params.abstract -}}{{- . -}}{{- end -}}
          {{- else -}}
          {{- .Summary -}}
          {{- end -}}
          {{- else -}}
          {{- with .Site.Params.role -}}{{- . -}}{{- end -}}
          {{- end -}}">

  </head>
