<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta
    http-equiv="Content-Security-Policy"
    content="default-src 'self'; style-src 'self' 'unsafe-inline' use.fontawesome.com github.githubassets.com; script-src 'self' 'unsafe-eval' www.googletagmanager.com cdn.jsdelivr.net gist.github.com; img-src 'self' data: www.googletagmanager.com math.stackexchange.com mathoverflow.net; connect-src 'self' analytics.google.com stats.g.doubleclick.net; font-src 'self' cdn.jsdelivr.net; frame-src 'self' www.youtube.com;"
  />

  <link rel="canonical" href="{{ .Permalink }}" />
  {{- range .Translations -}}
  <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
  {{- end -}}
  <link
    rel="alternate"
    hreflang="{{ .Site.LanguageCode }}"
    href="{{ .Permalink }}"
  />
  {{- range .AlternativeOutputFormats -}} {{- printf `
  <link rel="%s" type="%s" href="%s" title="%s" />
  ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML -}} {{- end -}}
  <!-- css -->
  {{- $css := slice (resources.Get "css/bootstrap.min.css") (resources.Get
  "css/svg-with-js.css") (resources.Get "css/style.css") | resources.Concat
  "bundle.css" | resources.Minify -}}
  <link
    rel="stylesheet"
    href="{{
  $css.Permalink }}?{{ now.Unix}}"
  />

  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-S549JC61XZ"
  ></script>

  {{- $js := slice (resources.Get "js/jquery.slim.js") (resources.Get
  "js/popper.min.js") (resources.Get "js/bootstrap.min.js") (resources.Get
  "js/mathjax-conf.js") (resources.Get "js/ga.js") (resources.Get "js/toc.js") |
  resources.Concat "bundle.js" | resources.Minify -}}
  <script src="{{ $js.Permalink }}?{{ now.Unix }}"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/mathjax@3.1.2/es5/tex-chtml.js"
    integrity="sha384-UozJ99uTsC3hGw/ZyfGWyZhGT2HagM/UTaJSjYDDwJkJAV7YGoW0bHz7DI5XCN6X"
    crossorigin="anonymous"
  ></script>

  <link rel="icon" type="image/png" href="/img/icon.png" />
  <link rel="apple-touch-icon" type="image/png" href="/img/icon-192.png" />

  <title>
    {{- if .IsHome -}} {{- .Site.Title -}} {{- else -}} {{- .Title }} {{- with
    .Params.event }} @ {{ . }}{{- end -}} {{- end -}}
  </title>

  <meta
    name="author"
    content="{{ .Site.Author.first_name }} {{ .Site.Author.last_name }}"
  />

  {{ $description := "" }} {{ if .Params.abstract }} {{ $description =
  .Params.abstract }} {{ else }} {{ $description = .Summary }} {{ end }}
  <meta name="description" content="{{ $description }}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ .Site.Author.twitter }}" />
  <meta name="twitter:creator" content="@{{ .Site.Author.twitter }}" />
  <meta name="twitter:image" content="{{ .Params.baseURL }}/img/photo.jpg" />
  <meta name="twitter:description" content="{{ $description }}" />

  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ .Params.baseURL }}/img/photo.jpg" />
  {{ if .IsHome }}
  <meta property="og:type" content="profile" />
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta
    property="og:profile:first_name"
    content="{{ .Site.Author.first_name}}"
  />
  <meta property="og:profile:last_name" content="{{ .Site.Author.last_name}}" />
  {{ else }}
  <meta property="og:type" content="article" />
  <meta
    property="og:title"
    content="{{ .Title }}{{ with
    .Params.event }} @ {{ . }}{{ end }}"
  />
  <meta
    property="og:description"
    content="{{- with .Params.abstract -}}{{- . -}}{{- else -}}{{- .Summary -}}{{- end -}}"
  />
  <meta property="og:article:published_time" content="{{ .Date }}" />
  {{ with .Lastmod }}
  <meta property="og:article:modified_time" content="{{ . }}" />
  {{ end }} {{ end }}
</head>
