<nav class="navbar navbar-dark bg-dark navbar-expand-md sticky-top">
    <a class="navbar-brand" href="{{ "/" | relLangURL }}">
        {{- if .Site.Params.logo -}}
        <img src="{{ printf "/img/%s" .Site.Params.logo | relURL }}" alt="{{ .Site.Title }}">
        {{- else -}}
        {{- .Site.Title -}}
        {{- end -}}
    </a>
    {{ if or .Site.Menus.main .IsTranslated }}
    <button type="button" class="navbar-toggler" data-toggle="collapse"
            data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">{{ i18n "toggle_navigation" }}</span>
        <span class="navbar-toggler-icon"></span>
    </button>
    {{ end }}
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            {{ range .Site.Menus.main }}
            <li class="nav-item">
                <a class="nav-link" href="{{ .URL | relLangURL }}">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                    {{ .Post }}
                </a>
            </li>
            {{ end }}
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active text-uppercase" href="#">{{ .Lang }}</a>
            {{ if .IsTranslated }}
            {{ range .Translations }}
            <li class="nav-item">
              <a href="{{ .URL }}" class="nav-link text-uppercase">{{ .Lang }}</a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
