{{ $pag := .Paginator }}
<nav aria-label="Pagination">
  <ul class="pagination">
    <li
      class="page-item {{ if eq .Paginator.First.URL .Paginator.URL }}disabled{{ end }}"
    >
      <a
        href="{{ .Paginator.First.URL }}"
        class="page-link"
        {{
        if
        eq
        .Paginator.First.URL
        .Paginator.URL
        }}
        tabindex="-1"
        aria-disabled="true"
        {{
        end
        }}
        ><i class="bi bi-chevron-double-left" aria-label="First"></i
      ></a>
    </li>
    <li class="page-item {{ if not .Paginator.HasPrev }}disabled{{ end }}">
      <a
        class="page-link"
        {{-
        if
        .Paginator.HasPrev
        -}}
        href="{{ .Paginator.Prev.URL }}"
        {{-
        else
        -}}
        href="#"
        tabindex="-1"
        aria-disabled="true"
        {{-
        end
        -}}
      >
        <i class="bi bi-chevron-left" aria-label="Previous"></i>
      </a>
    </li>
    {{- range .Paginator.Pagers -}}
    <li
      class="page-item {{ if eq . $pag }}active{{ end }}"
      {{
      if
      eq
      .
      $pag}}aria-current="page"
      {{
      end
      }}
    >
      <a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a>
    </li>
    {{- end -}}
    <li class="page-item {{ if not .Paginator.HasNext }}disabled{{ end }}">
      <a
        class="page-link"
        {{-
        if
        .Paginator.HasNext
        -}}
        href="{{ .Paginator.Next.URL }}"
        {{-
        else
        -}}
        href="#"
        tabindex="-1"
        aria-disabled="true"
        {{-
        end
        -}}
      >
        <i class="bi bi-chevron-right" aria-label="Next"></i>
      </a>
    </li>
    <li
      class="page-item {{ if eq .Paginator.Last.URL .Paginator.URL }}disabled{{ end }}"
    >
      <a
        href="{{ .Paginator.Last.URL }}"
        class="page-link"
        {{
        if
        eq
        .Paginator.Last.URL
        .Paginator.URL
        }}
        tabindex="-1"
        aria-disabled="true"
        {{
        end
        }}
        ><i class="bi bi-chevron-double-right" aria-label="Last"></i
      ></a>
    </li>
  </ul>
</nav>
