<div class="card border-light" itemscope itemprop="blogPost">
  <div class="card-body px-3 py-2">
    <h5 class="card-title" itemprop="name"><a itemprop="url" href="{{ .Permalink }}">{{ .Title }}</a></h5>
    <h6 class="card-subtitle">{{ partial "article_metadata" . }}</h6>
    <div class="card-text" itemprop="articleBody">
      {{ if .Params.summary }}
      {{ .Params.summary | markdownify }}
      {{ else if .Truncated }}
      {{ .Summary }}
      {{ else }}
      {{ .Content }}
      {{ end }}
    </div>
    <a href="{{ .Permalink }}" class="card-link">{{ if or .Params.summary .Truncated }}[…] {{ end }}{{ i18n "continue_reading" }}</a>
  </div>
</div>  
