{{ $post := .post }}

<div class="card my-1" itemscope itemprop="blogPost">
  <div class="card-body">
    <h5 class="card-title" itemprop="name">
      <a itemprop="url" href="{{ $post.Permalink }}">{{ $post.Title }}</a>
    </h5>
    <h6 class="card-subtitle">
      {{ partial "article_metadata" (dict "content" $post "is_list" 1) }}
    </h6>
    <div class="card-text" itemprop="articleBody">
      {{ if $post.Params.summary }}
      {{ printf "%s" $post.Params.summary | markdownify }}
      {{ else if $post.Truncated }}
      {{ $post.Summary }}
      {{ else }}
      {{ $post.Content }}
      {{ end }}
    </div>
    <a href="{{ $post.Permalink }}" class="card-link">{{ i18n "continue_reading" }}</a>
  </div>
</div>  
