<div class="card border-light" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="card-body px-3 py-2">
        <h5 class="card-title"><a itemprop="name" href="{{ .Permalink }}">{{ .Title }}</a></h5>
        <h6 class="card-subtitle">
            <span itemprop="author">{{ delimit .Params.authors ", " | markdownify }}</span>
            &ndash;
            {{ .Params.publication | markdownify }}
            (<time datetime="{{ .Date.Format "2006" }}" itemprop="datePublished">{{- .Date.Format "2006" -}})</time>.
        </h6>
        {{ partial "publication_links" (dict "content" . "is_card" 1) }}
    </div>
</div>
