<a
  href="#"
  role="button"
  data-bs-toggle="modal"
  data-bs-target="#share-modal-{{ .File.UniqueID }}"
>
  <i class="bi bi-share"></i>&nbsp;{{ i18n "share" }}
</a>

<div
  class="modal fade"
  id="share-modal-{{ .File.UniqueID }}"
  tabindex="-1"
  aria-labelledby="share-modal-title-{{ .File.UniqueID }}"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="share-modal-title-{{ .File.UniqueID }}">
          <i class="bi bi-share"></i>&nbsp;{{ i18n "share" }} “{{ .Title }}”
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="list-group list-group-flush">
          <a
            class="list-group-item list-group-item-action"
            href="https://twitter.com/intent/tweet?text={{ .Title | html }}&amp;url={{ .Permalink | html }}&via=Najib%20Idrissi"
            target="_blank"
            rel="noopener"
          >
            <i class="bi bi-twitter"></i>&nbsp;Twitter
          </a>
          <a
            class="list-group-item list-group-item-action"
            href="https://www.facebook.com/sharer.php?u={{ .Permalink | html }}&display=popup"
            target="_blank"
            rel="noopener"
          >
            <i class="bi bi-facebook"></i>&nbsp;Facebook
          </a>
          <a
            class="list-group-item list-group-item-action"
            href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink | html }}&amp;title={{ .Title | html }}"
            target="_blank"
            rel="noopener"
          >
            <i class="bi bi-linkedin"></i>&nbsp;LinkedIn
          </a>
          <a
            class="list-group-item list-group-item-action"
            href="http://www.reddit.com/submit?url={{ .Permalink | html }}&title={{ .Title | html }}"
            target="_blank"
            rel="noopener"
            >Reddit</a
          >
          <a
            class="list-group-item list-group-item-action"
            href="mailto:?subject={{ .Title | html }}&amp;body={{ .Permalink | html }}"
            rel="noopener"
            target="_blank"
          >
            <i class="bi bi-envelope"></i>&nbsp;Email
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
