<div
  class="offcanvas offcanvas-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="sidebar"
>
  <div class="offcanvas-header">
    <span class="offcanvas-title fs-6">
      <i class="bi bi-paragraph"></i>&nbsp;{{ i18n "contents" }}
    </span>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    {{ with .TableOfContents }}{{ . }}{{ end }} {{- if .Params.sidebar -}} {{ if
    .TableOfContents }}
    <hr />
    {{ end }}
    <ul class="list-group list-group-flush">
      {{- range .Params.sidebar -}}
      <li class="list-group-item">{{ . | markdownify }}</li>
      {{- end -}}
    </ul>
    {{- end -}}
  </div>
</div>
