<div class="card" itemscope itemtype="http://schema.org/Event">
  <div class="card-body p-3">
    <h5 class="card-title" itemprop="name">
      <a href="{{ .Permalink }}">
       {{ .Params.event | markdownify }}
      </a>
    </h5>
    <h6 class="card-subtitle">
        <span itemprop="startDate">{{ (time .Date).Format $.Site.Params.date_format }}{{ if (time .Date).After now }}*{{ end }}</span>
        {{ with .Params.location }}&ndash; <span itemprop="location" itemscope itemtype="http://schema.org/Place"><span itemprop="address">{{ . }}</span></span>{{ end }}
        &ndash;
        {{ i18n "title" }}: {{ .Title }} 
    </h6>
    {{ partial "talk_links" (dict "content" . "is_card" 1) }}
  </div>
</div>
