<div aria-live="polite" aria-atomic="true">
  <div class="toast hide" id="cookie-toast">
    <div class="toast-header">
      <strong class="me-auto">Cookies</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body">
      I use cookies to analyze traffic. To opt out, you can
      <a href="https://tools.google.com/dlpage/gaoptout/"
        >install the Google Analytics opt-out add-on</a
      >.
    </div>
  </div>
</div>
