{{ define "main" }}

{{ if .IsHome }}
{{ .Scratch.Set "section" "home" }}
{{ else }}
{{ .Scratch.Set "section" .Section }}
{{ end }}
{{ $section := .Scratch.Get "section" }}

{{ range $index, $page := where (where .Data.Pages "Section" $section) ".Params.active" "!=" false }}
{{ $params := dict "root" $ "page" $page }}
{{ $widget := printf "widgets/%s.html" ( or $page.Params.widget "custom" ) }}
{{ if $index }}<hr class="my-4">{{ end }}
<section id="{{ $page.File.TranslationBaseName }}">
    {{ partial $widget $params }}
</section>
 {{ end }}

{{ end }}
