/* Home sections */

.home-section {
  padding: 1rem 0;
}

.home-section:first-of-type {
  padding-top: .5rem;
}

.home-section:nth-of-type(even) {
  background-color: rgb(247, 247, 247);
}

/* Biography */

ul.ul-edu li .description p {
  margin: 0;
}

ul.ul-edu li .description p.institution {
  font-size: 0.9rem;
}

/* Blog articles */

.article-metadata {
  line-height: 30px; /* Match share bar line height. */
  overflow: hidden;
  letter-spacing: 0.03em;
}

/* Publications */

.pub-banner {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Talks */
.talk-metadata {
  color: #4b4f56;
  font-size: 0.8rem;
}

/* Projects */

#projects.home-section li {
  margin-bottom: 1rem;
}

#projects.home-section li:last-of-type {
  margin-bottom: 0;
}

#projects.home-section .project-title {
  margin-bottom: 6px;
}

#projects.home-section .project-summary {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

#projects.home-section .project-tags {
  font-size: 0.75rem;
  color: #9c9c9c;
}

.projects-container {
  display: block;
  position: relative;
  /*margin-top: 5rem;*/
  overflow: hidden;
}

.project-toolbar{
  margin-bottom: 2rem;
}

.project-item {
  margin-bottom: 1.5rem;
}

.isotope-item {
  z-index: 2;
}

.isotope-item:hover{
  z-index: 3;
}
