<article class="row">
  <section class="col-md-3 card border-light text-center">
    <img class="card-img-top w-75 mx-auto" src="/img/photo.jpg" alt="Photo" />
    <div class="card-body">
      <h5 class="card-title">
        {{ .Site.Author.first_name }} {{.Site.Author.last_name }}
      </h5>
      <h6 class="card-subtitle mb-1">{{ .Site.Author.role }}</h6>
      <p class="card-text">
        {{- delimit .Site.Author.organizations " & " | markdownify -}}
      </p>
    </div>
  </section>
  <section class="col">
    <article>{{- .Content -}}</article>

    <p class="small">
      ({{ i18n "last_updated" }} {{ .Lastmod.Format .Site.Params.date_format }})
    </p>

    <h4>Contact</h4>
    <ul class="fa-ul mb-0">
      {{- with .Site.Author.email -}}
      <li>
        <span class="fa-li"><i class="fas fa-at"></i></span>
        <a href="mailto:{{ . }}">{{ . }}</a>
      </li>
      {{- end -}} {{- with .Site.Author.phone -}}
      <li>
        <span class="fa-li"><i class="fas fa-phone"></i></span>
        <a href="tel:{{ .ugly }}">{{ .pretty }}</a>
      </li>
      {{- end -}} {{- with .Site.Author.address -}}
      <li>
        <span class="fa-li"><i class="fas fa-envelope"></i></span>
        {{- delimit . " &bull; " -}}
      </li>
      {{- end -}} {{- with .Site.Author.office -}}
      <li>
        <span class="fa-li"><i class="fas fa-building"></i></span>
        {{- i18n "office"}} {{ . -}}
      </li>
      {{- end -}} {{- with .Site.Author.github -}}
      <li>
        <span class="fa-li"><i class="fab fa-github"></i></span>
        <a href="https://github.com/{{ . }}" rel="me">GitHub</a>
      </li>
      {{- end -}} {{- with .Site.Author.mathoverflow -}}
      <li>
        <span class="fa-li"><i class="far fa-circle"></i></span>
        <a href="https://mathoverflow.net/users/{{ . }}" rel="me"
          >MathOverflow</a
        >
      </li>
      {{- end -}}
    </ul>
  </section>
</article>
