<article>
  <a href="/img/photo.jpg">
    <img
      src="/img/photo.jpg"
      width="150px"
      height="150px"
      class="float-end m-2 img-thumbnail"
      alt="Photo"
    />
  </a>
  <h1>{{ .Site.Author.first_name }} {{.Site.Author.last_name }}</h1>

  <article>{{- .Content -}}</article>

  <p class="small">
    ({{ i18n "last_updated" }} {{ .Lastmod.Format .Site.Params.date_format }})
  </p>

  <span class="h4">Contact</span>
  {{- with .Site.Author.email -}}
  <p class="mb-0">
    <i class="bi bi-envelope"></i>&nbsp;<a
      class="text-decoration-none"
      href="mailto:{{ . }}"
      >{{ . }}</a
    >
  </p>
  {{- end -}} {{- if .Site.Author.organizations -}}
  <p class="mb-0">
    <i class="bi bi-building"></i>&nbsp;{{ partial "organizations" . }}
  </p>
  {{- end -}} {{- with .Site.Author.address -}}
  <p class="mb-0">
    <i class="bi bi-geo-alt"></i>&nbsp;{{- delimit . " &bull; " -}}
  </p>
  {{- end -}} {{- with .Site.Author.office -}}
  <p class="mb-0">
    <i class="bi bi-door-open"></i>&nbsp;{{- i18n "office"}} {{ . -}}
  </p>
  {{- end -}} {{- with .Site.Author.phone -}}
  <p class="mb-0">
    <i class="bi bi-telephone"></i>&nbsp;<a
      class="text-decoration-none"
      href="tel:{{ .ugly }}"
      >{{ .pretty }}</a
    >
  </p>
  {{- end -}} {{- with .Site.Author.github -}}
  <p class="mb-0">
    <i class="bi bi-github"></i>&nbsp;<a
      class="text-decoration-none"
      href="https://github.com/{{ . }}"
      rel="me"
      >GitHub</a
    >
  </p>
  {{- end -}} {{- with .Site.Author.mathoverflow -}}
  <p class="mb-0">
    <i class="bi bi-circle"></i>&nbsp;<a
      class="text-decoration-none"
      href="https://mathoverflow.net/users/{{ . }}"
      rel="me"
      p
      >MathOverflow</a
    >
  </p>
  {{- end -}}
</article>
