<article class="card border-light">
    <div class="card-body px-3 py-2">
        <h5 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
        <h6 class="card-subtitle">
            {{ delimit .Params.authors ", " | markdownify }};
            {{ .Params.publication | markdownify }}
            (<time datetime="{{ .Date.Format "2006" }}">{{- .Date.Format "2006" -}})</time>.
        </h6>
        {{ partial "publication_links" (dict "content" . "is_card" 1) }}
    </div>
</article>
