{{ partial "header.html" . }}

<div class="row">
  <div class="col-md-12">
    <h1>{{ .Title | default (i18n "publications") }}</h1>

    {{ with .Content }}
    <div itemprop="articleBody">{{ . }}</div>
    {{ end }}
    {{ range .Data.Pages.GroupByDate "2006" }}
    <div class="row">
      <div class="col-md-2"><h3>{{ .Key }}</h3></div>
      <div class="col-md-10">
        {{ range .Pages.ByDate.Reverse }}
        {{ .Render "li" }}
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ partialCached "footer.html" . }}
