{{- define "main" -}}
<article>
  {{ partial "sidebar-button" .}}
  <h1 class="mb-0">{{- .Title | markdownify -}}</h1>
  <p class="fs-4">
    {{- partial "meta/research" . }} {{- partial "links" (dict "content" .
    "is_card" 0) -}}
  </p>

  {{- with .Params.abstract -}}
  <blockquote class="blockquote">
    <p>
      <strong>{{ i18n "abstract" }}.</strong>
      {{ . -}}
    </p>
  </blockquote>
  {{- end -}} {{- with .Content -}}
  <hr />
  <div>{{- . -}}</div>
  {{- end -}}
</article>
{{- end -}}
