{{ define "main" }}
<article>
    <h1>{{ .Title }}</h1>
    <dl class="row">
        <dt class="col-12 col-sm-2">{{ i18n "authors" }}</dt>
        <dd class="col-12 col-sm-10">
            {{ with .Params.authors }}
            {{ delimit . ", " | markdownify }}
            {{ end }}
        </dd>

        <dt class="col-12 col-sm-2">{{ i18n "publication" }}</dt>
        <dd class="col-12 col-sm-10">{{ .Params.publication | markdownify }}</dd>

        <dt class="col-12 col-sm-2">{{ i18n "date" }}</dt>
        <dd class="col-12 col-sm-10">{{ .Date.Format ($.Site.Params.publications.date_format | default "January, 2006") }}</dd>

        <dt class="col-12 col-sm-2">{{ i18n "links" }}</dt>
        <dd class="col-12 col-sm-10">
            {{ partial "links" (dict "content" . "is_card" 0) }}
        </dd>
    </dl>

    {{ with .Params.abstract }}<p>{{ . | markdownify }}</p>{{ end }}

    <div>{{ .Content }}</div>
</article>

{{ partial "section_pager.html" . }}
{{ end }}
