---
layout: default
---
<section>
    <header>
        <h1>{{ page.title }}</h1>
        <div class="post-time">
            <span class="fa fa-clock-o"></span>
            <time datetime="{{ page.date }}">{{ page.date | date: "%b %-d, %Y" }}</time>
            |
            <a href="#comment_target">
                <i class="fa fa-comment"></i>
                <span class="disqus-comment-count" data-disqus-identifier="{{ page.id | slugify }}">Comments</span>
            </a>
        </div>
    </header>
    {{ content }}
    {% include disqus.html %}
</section>
<script id="dsq-count-scr" src="//{{ site.disqus }}.disqus.com/count.js" async></script>
