{{ partial "header.html" . }}
{{ partial "header_image.html" . }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ .Title | default (i18n "publications") }}</h1>

            {{ with .Content }}
            <div itemprop="articleBody">{{ . }}</div>
            {{ end }}

            {{ range .Pages.ByDate.Reverse }}
            {{ partial "publication_li_card" . }}
            {{ end }}
        </div>
    </div>
</div>
{{ partialCached "footer.html" . }}
