name: Build and upload the website

on:
  push:
    branches:
      - master
    paths-ignore:
      - ".gitignore"
      - "README.md"
      - "curriculum/**"
      - ".vscode/**"
      - "README.md"

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install
        run: npm ci
      - name: Build
        run: npm run build
      - name: Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Upload
        uses: azure/CLI@v1
        with:
          azcliversion: 2.21.0
          inlineScript: |
            az storage blob sync --container '$web' --source public
        env:
          AZURE_STORAGE_ACCOUNT: ${{ secrets.AZURE_STORAGE_ACCOUNT }}
      - name: Logout
        run: |
          az logout
