name: Upload Website

on:
  push:
    branches:
    - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - run: curl -Ls "https://github.com/gohugoio/hugo/releases/download/v${hugo_version}/hugo_extended_${hugo_version}_Linux-64bit.tar.gz" -o /tmp/hugo.tar.gz
      env:
        hugo_version: '0.74.3'
    - run: tar xf /tmp/hugo.tar.gz -C /tmp
    - run: chmod +x /tmp/hugo
    - uses: actions/checkout@master
    - run: /tmp/hugo
    - run: /tmp/hugo deploy
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
