name: Build and upload the website

on:
  push:
    branches:
      - master
    paths-ignore:
      - ".gitignore"
      - "README.md"
      - "curriculum/**"

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Download hugo
        run: curl -Ls "https://github.com/gohugoio/hugo/releases/download/v${hugo_version}/hugo_extended_${hugo_version}_Linux-64bit.tar.gz" -o hugo.tar.gz
        env:
          hugo_version: "0.81.0"
      - name: Unpack hugo
        run: tar xf hugo.tar.gz
      - name: Execute bit hugo
        run: chmod +x hugo
      - name: Build
        run: ./hugo --minify
      - name: Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Upload
        uses: azure/CLI@v1
        with:
          azcliversion: 2.21.0
          inlineScript: |
            az storage blob sync --container '$web' --source public
        env:
          AZURE_STORAGE_ACCOUNT: ${{ secrets.AZURE_STORAGE_ACCOUNT }}
      - name: Logout
        run: |
          az logout
